playbook-Telia_-_MDE_Malware_-_Incident_Enrichment.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: |-
  This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
  This playbook enriches Microsoft Defender For Endpoint alerts. The enrichment is done on the involved endpoint and Mitre technique ID information, and it sets the 'Malware-Investigation and Response' layout.
id: dd15370a-a875-430e-8772-9d55cb8bf2ca
inputs:
- description: 'Whether the incident is fetched through a SIEM product. '
  key: DidAlertOriginateFromSIEM
  playbookInputQuery: null
  required: false
  value:
    simple: "No"
- description: The Microsoft Defender For Endpoint alert ID.
  key: AlertID
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.externalsystemid}
- description: ""
  key: Loop
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
name: Telia - MDE Malware - Incident Enrichment
outputs:
- contextPath: MITREATTACK
  description: The full MITRE data for the attack pattern.
  type: string
- contextPath: AttackPattern
  description: An array of attack patterns name and IDs.
  type: string
- contextPath: MicrosoftATP.Alert
  description: Microsoft Defender For Endpoint alert information.
  type: unknown
- contextPath: Endpoint
  description: The endpoint information.
  type: unknown
sourceplaybookid: MDE Malware - Incident Enrichment
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b713942f-e076-4ed3-8871-072f0d42ba75
      iscommand: false
      name: ""
      version: -1
    taskid: b713942f-e076-4ed3-8871-072f0d42ba75
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 460,
          "y": 230
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          accessor: agentsid
          root: incident
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Lists the Microsoft Defender for Endpoint sensors.
      id: 4e74872a-4e01-4773-8acd-73cfaa6acb98
      iscommand: true
      name: Enrich endpoint details
      script: '|||endpoint'
      type: regular
      version: -1
    taskid: 4e74872a-4e01-4773-8acd-73cfaa6acb98
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 0,
          "y": 1370
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b5159c11-8c6d-47a2-8ed9-b3d9b05ac512
      iscommand: false
      name: Mitre Att&ck
      type: title
      version: -1
    taskid: b5159c11-8c6d-47a2-8ed9-b3d9b05ac512
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1240
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: MicrosoftATP.Alert
      value:
        complex:
          accessor: additionaldata
          root: incident
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
          - operator: Stringify
          - args:
              prefix:
                value:
                  simple: '{"Evidence":['
              suffix:
                value:
                  simple: ']}'
            operator: concat
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 9cece57a-254a-4b8e-8c65-2f398929cc9f
      iscommand: false
      name: Set Evidence Information to context
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 9cece57a-254a-4b8e-8c65-2f398929cc9f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -230,
          "y": 740
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.additionaldata
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if evidence was fetched?
      id: 7647cfcf-dada-4e9e-84c8-61c7bf217bee
      iscommand: false
      name: Check if Evidence was fetched?
      type: condition
      version: -1
    taskid: 7647cfcf-dada-4e9e-84c8-61c7bf217bee
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 170,
          "y": 550
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bc88a919-7cd0-4c56-81f4-48167793be7b
      iscommand: false
      name: Entity Enrichments
      type: title
      version: -1
    taskid: bc88a919-7cd0-4c56-81f4-48167793be7b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1080
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4f5906b7-4e72-4596-88f8-1a9d938e9a34
      iscommand: false
      name: Endpoint
      type: title
      version: -1
    taskid: 4f5906b7-4e72-4596-88f8-1a9d938e9a34
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 0,
          "y": 1240
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 04be6d02-ff83-4692-8c8f-416dd321021b
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 04be6d02-ff83-4692-8c8f-416dd321021b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2330
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a69f3582-a9d6-46f5-8552-7b4e041c7882
      iscommand: false
      name: Set Information To Layout
      type: title
      version: -1
    taskid: a69f3582-a9d6-46f5-8552-7b4e041c7882
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1700
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      deviceid:
        simple: ${Endpoint.[0].ID}
      devicelocalip:
        simple: ${Endpoint.[0].IPAddress}
      devicemacaddress:
        simple: ${Endpoint.[0].MACAddress}
      devicename:
        simple: ${Endpoint.[0].Hostname}
      deviceosname:
        simple: ${Endpoint.[0].OS}
      deviceosversion:
        simple: ${Endpoint.[0].OSVersion}
      devicestatus:
        simple: ${Endpoint.[0].Status}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Set Endpoint information to layout
      id: 4380ff09-adda-40c4-82bc-456ec52256cf
      iscommand: true
      name: Set Endpoint information to layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 4380ff09-adda-40c4-82bc-456ec52256cf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 1840
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "16"
      "yes":
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether specific entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If an array is provided, will return 'yes'
        if one of the entries returned an error.
      id: 149b36f4-ba83-4b74-899d-34b936fd1133
      iscommand: false
      name: Check if we have more than 1 item
      script: isError
      type: condition
      version: -1
    taskid: 149b36f4-ba83-4b74-899d-34b936fd1133
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 20,
          "y": 1990
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      deviceid:
        complex:
          accessor: ID
          root: Endpoint
          transformers:
          - operator: uniq
      devicelocalip:
        complex:
          accessor: IPAddress
          root: Endpoint
          transformers:
          - operator: uniq
      devicemacaddress:
        complex:
          accessor: MACAddress
          root: Endpoint
          transformers:
          - operator: uniq
      devicename:
        complex:
          accessor: Hostname
          root: Endpoint
          transformers:
          - operator: uniq
      deviceosname:
        complex:
          accessor: OS
          root: Endpoint
          transformers:
          - operator: uniq
      deviceosversion:
        complex:
          accessor: OSVersion
          root: Endpoint
          transformers:
          - operator: uniq
      devicestatus:
        complex:
          accessor: Status
          root: Endpoint
          transformers:
          - operator: uniq
      isolated:
        complex:
          accessor: IsIsolated
          root: Endpoint
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Set Endpoint information to layout
      id: 7b838bd0-2d27-44bf-8fe7-e34a1ed909c2
      iscommand: true
      name: Set Endpoint information to layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 7b838bd0-2d27-44bf-8fe7-e34a1ed909c2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -210,
          "y": 2160
        }
      }
  "22":
    continueonerror: true
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      filesha1:
        complex:
          accessor: '[0].sha1'
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.entityType
              operator: isEqualString
              right:
                value:
                  simple: Process
            - left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.entityType
              operator: isEqualString
              right:
                value:
                  simple: File
          root: MicrosoftATP.Alert.Evidence
      filesha256:
        complex:
          accessor: '[0].sha256'
          filters:
          - - left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.entityType
              operator: isEqualString
              right:
                value:
                  simple: Process
            - left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.entityType
              operator: isEqualString
              right:
                value:
                  simple: File
          root: MicrosoftATP.Alert.Evidence
      processname:
        complex:
          accessor: '[0].fileName'
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.entityType
              operator: isEqualString
              right:
                value:
                  simple: Process
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.entityType
              operator: isEqualString
              right:
                value:
                  simple: File
          root: MicrosoftATP.Alert.Evidence
      processpath:
        complex:
          accessor: '[0].filePath'
          filters:
          - - left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.entityType
              operator: isEqualString
              right:
                value:
                  simple: Process
            - left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.entityType
              operator: isEqualString
              right:
                value:
                  simple: File
          root: MicrosoftATP.Alert.Evidence
      sha1:
        complex:
          accessor: '[0].sha1'
          filters:
          - - left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.entityType
              operator: isEqualString
              right:
                value:
                  simple: Process
            - left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.entityType
              operator: isEqualString
              right:
                value:
                  simple: File
          root: MicrosoftATP.Alert.Evidence
      sha256:
        complex:
          accessor: '[0].sha256'
          filters:
          - - left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.entityType
              operator: isEqualString
              right:
                value:
                  simple: Process
            - left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.entityType
              operator: isEqualString
              right:
                value:
                  simple: File
          - - left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.sha256
              operator: isNotEmpty
          root: MicrosoftATP.Alert.Evidence
      username:
        complex:
          accessor: '[0].accountName'
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.entityType
              operator: isEqualString
              right:
                value:
                  simple: Process
            - left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.entityType
              operator: isEqualString
              right:
                value:
                  simple: File
          root: MicrosoftATP.Alert.Evidence
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Set Process information to Layout
      id: 9a562261-ecf0-430b-86e7-5bb94503a5d9
      iscommand: true
      name: Set Process Info to Layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 9a562261-ecf0-430b-86e7-5bb94503a5d9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1840
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
      - "18"
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b13dd77e-f420-48d8-8ae1-8e5a27ac1742
      iscommand: false
      name: Layout Enrichment
      type: title
      version: -1
    taskid: b13dd77e-f420-48d8-8ae1-8e5a27ac1742
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1555
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 48f699dc-1dc7-45b0-8498-bd8ce26f3173
      iscommand: false
      name: Set Endpoint Details to Layout
      type: title
      version: -1
    taskid: 48f699dc-1dc7-45b0-8498-bd8ce26f3173
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 20,
          "y": 1700
        }
      }
  "41":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.DidAlertOriginateFromSIEM
          operator: isEqualString
          right:
            value:
              simple: "No"
      label: "yes"
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is MDE the alert source?
      id: f1015b74-928c-4150-8b73-5df5c369a1c5
      iscommand: false
      name: Is MDE the alert source?
      type: condition
      version: -1
    taskid: f1015b74-928c-4150-8b73-5df5c369a1c5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 360
        }
      }
  "42":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: URLs
      output:
        simple: ${MicrosoftATP.Alert.Evidence.url}
    - incidentfield: Users
      output:
        simple: ${MicrosoftATP.Alert.Evidence.accountName}
    - incidentfield: User SID
      output:
        simple: ${MicrosoftATP.Alert.Evidence.userSid}
    - incidentfield: CMD line
      output:
        simple: ${MicrosoftATP.Alert.Evidence.processCommandLine}
    - incidentfield: Detected IPs
      output:
        simple: ${MicrosoftATP.Alert.Evidence.ipAddress}
    - incidentfield: Domain Name
      output:
        simple: ${MicrosoftATP.Alert.Evidence.domainName}
    - incidentfield: File Names
      output:
        simple: ${MicrosoftATP.Alert.Evidence.fileName}
    - incidentfield: File Paths
      output:
        simple: ${MicrosoftATP.Alert.Evidence.filePath}
    - incidentfield: File SHA1
      output:
        simple: ${MicrosoftATP.Alert.Evidence.sha1}
    - incidentfield: File SHA256
      output:
        simple: ${MicrosoftATP.Alert.Evidence.sha256}
    - incidentfield: Microsoft Defender for Endpoint Evidence Type
      output:
        simple: ${MicrosoftATP.Alert.Evidence.entityType}
    - incidentfield: Parent Process
      output:
        simple: ${MicrosoftATP.Alert.Evidence.parentProcessFileName}
    - incidentfield: Parent Process File Path
      output:
        simple: ${MicrosoftATP.Alert.Evidence.parentProcessFileName}
    - incidentfield: Parent Process ID
      output:
        simple: ${MicrosoftATP.Alert.Evidence.parentProcessId}
    - incidentfield: Process ID
      output:
        simple: ${MicrosoftATP.Alert.Evidence.processId}
    - incidentfield: Registry Key
      output:
        simple: ${MicrosoftATP.Alert.Evidence.registryKey}
    - incidentfield: Registry Value
      output:
        simple: ${MicrosoftATP.Alert.Evidence.registryValue}
    - incidentfield: Registry Value Type
      output:
        simple: ${MicrosoftATP.Alert.Evidence.registryValueType}
    - incidentfield: Investigation Stage
      output:
        simple: ${MicrosoftATP.Alert.InvestigationState}
    - incidentfield: Agents ID
      output:
        simple: ${MicrosoftATP.Alert.MachineID}
    - incidentfield: MITRE Technique ID
      output:
        simple: ${MicrosoftATP.Alert.MitreTechniques}
    - incidentfield: Process CMD
      output:
        simple: ${MicrosoftATP.Alert.Evidence.processCommandLine}
    - incidentfield: Process SHA256
      output:
        simple: ${MicrosoftATP.Alert.Evidence.sha256}
    - incidentfield: External Severity
      output:
        simple: ${MicrosoftATP.Alert.Severity}
    - incidentfield: External End Time
      output:
        simple: ${MicrosoftATP.Alert.LastUpdateTime}
    - incidentfield: External Start Time
      output:
        simple: ${MicrosoftATP.Alert.FirstEventTime}
    - incidentfield: External Status
      output:
        simple: ${MicrosoftATP.Alert.Status}
    - incidentfield: Hostnames
      output:
        simple: ${MicrosoftATP.Alert.ComputerDNSName}
    - incidentfield: External Category Name
      output:
        simple: ${MicrosoftATP.Alert.Category}
    - incidentfield: Description
      output:
        simple: ${MicrosoftATP.Alert.Description}
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      alert_ids:
        simple: ${inputs.AlertID}
      using:
        simple: ${incident.sourceInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves an alert by alert ID. Note - If a specific alert ID is
        not part of the results, it was not found.
      id: 8dc02e94-eeb6-4d1d-8962-8f65b18eb747
      iscommand: true
      name: Get full alert details
      script: '|||microsoft-atp-get-alert-by-id'
      type: regular
      version: -1
    taskid: 8dc02e94-eeb6-4d1d-8962-8f65b18eb747
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 710,
          "y": 645
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      TechniqueID:
        simple: ${incident.mitretechniqueid}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 76aff4e9-f3fb-4828-8d4a-57739a4538e8
      iscommand: false
      name: Mitre Attack - Extract Technique Information From ID
      playbookId: Mitre Attack - Extract Technique Information From ID
      type: playbook
      version: -1
    taskid: 76aff4e9-f3fb-4828-8d4a-57739a4538e8
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1370
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "46"
      - "47"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cc9a0d13-d127-4c5f-8fc0-2c24d12578eb
      iscommand: false
      name: Set Alert info to Layout
      type: title
      version: -1
    taskid: cc9a0d13-d127-4c5f-8fc0-2c24d12578eb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1080,
          "y": 1695
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: MicrosoftATP.Alert.Evidence(val.entityType.length>0).AlertName
      value:
        complex:
          accessor: alertname
          root: incident
          transformers:
          - operator: FirstArrayElement
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: N/A
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 4a436efc-7266-4c32-8fec-3f69eed89d64
      iscommand: false
      name: Set Alert Name
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 4a436efc-7266-4c32-8fec-3f69eed89d64
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 1840
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: MicrosoftATP.Alert.Evidence(val.entityType.length>0).device_name
      value:
        complex:
          accessor: hostnames
          root: incident
          transformers:
          - operator: FirstArrayElement
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: N/A
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 6d81b746-8d8d-4ce7-88d7-8f48a5241be4
      iscommand: false
      name: Set Device Name
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 6d81b746-8d8d-4ce7-88d7-8f48a5241be4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1290,
          "y": 1840
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      columns:
        simple: Alert Name,Hostname,File Name,Process ID, SHA1, SHA256, File Path,
          Parent Process, Parent Process File Path, Command Line
      context_path:
        simple: MicrosoftATP.Alert.Evidence
      grid_id:
        simple: msdefenderalerts
      keys:
        simple: AlertName,device_name,fileName,processId,sha1,sha256,filePath,parentProcessFileName,parentProcessFilePath,processCommandLine
      overwrite:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates a Grid table from items or key-value pairs.
      id: cd283e5d-07e5-49e7-83fb-f36090a00e5e
      iscommand: false
      name: Set Alerts Table Info in the Layout
      script: SetGridField
      type: regular
      version: -1
    taskid: cd283e5d-07e5-49e7-83fb-f36090a00e5e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1080,
          "y": 2010
        }
      }
  "52":
    continueonerror: true
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      accountmemberof:
        simple: ${Account.Groups}
      accountname:
        complex:
          accessor: DisplayName
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.DisplayName
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.DisplayName
              then:
                iscontext: true
                value:
                  simple: IAM.UserProfile.profile=val.firstName + ' ' + val.lastName
            operator: If-Then-Else
      accountstatus:
        complex:
          accessor: Status
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.Status
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.Status
              then:
                iscontext: true
                value:
                  simple: IAM.UserProfile.status
            operator: If-Then-Else
      employeeemail:
        complex:
          accessor: Email
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.Email
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.Email
              then:
                iscontext: true
                value:
                  simple: IAM.UserProfile.profile.email
            operator: If-Then-Else
          - operator: uniq
          - operator: FirstArrayElement
      employeetype:
        complex:
          accessor: Type
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.Type
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.Type
              then:
                iscontext: true
                value:
                  simple: IAM.UserProfile.profile.userType
            operator: If-Then-Else
      managername:
        complex:
          accessor: Manager
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.Manager
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.Manager
              then:
                iscontext: true
                value:
                  simple: IAM.UserProfile.profile.manager
            operator: If-Then-Else
      samaccountname:
        complex:
          accessor: Username
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.Username
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.Username
              then:
                value:
                  simple: IAM.UserProfile.profile.login
            operator: If-Then-Else
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: f3632f71-35b5-459f-8576-ea2222de8a45
      iscommand: true
      name: Set Account information to layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: f3632f71-35b5-459f-8576-ea2222de8a45
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1990
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "20_16_no": 0.23
    },
    "paper": {
      "dimensions": {
        "height": 2165,
        "width": 1900,
        "x": -230,
        "y": 230
      }
    }
  }
