playbook-Telia_-_MDE_Malware_-_Investigation_and_Response.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: |-
  This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
  This playbook investigates Microsoft Defender For Endpoint malware alerts. It uses - Microsoft Defender For Endpoint Advanced Hunting - Command Line Analysis - Deduplication - Sandbox hash search and detonation - Proactive investigation actions (AV scan, investigation package collection, running automated investigation on an endpoint) - Microsoft Defender For Endpoint alert enrichment - Incident handling (true/false positive)
id: 93482dc6-6a8f-4806-8a1a-346084bd60ca
inputs:
- description: "The ticketing system to use. Possible Options: SNOW or Jira \n*SNOW
    == ServiceNow (Used in case incident classified as True Positive)."
  key: TicketingSystemToUse
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether file retrieval from the endpoint is allowed.
  key: RetrieveFile
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Whether file detonation is allowed on the sandbox.
  key: DetonateFile
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: '"Whether the deduplication playbook will be used."'
  key: EnableDeduplication
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: The name of the tag to apply for allowed indicators.
  key: BenignTagName
  playbookInputQuery: null
  required: false
  value:
    simple: BenignTagName
- description: Choose True to automatically run investigation activities (this relies
    on the `ActionTask` input).
  key: RunInvestigationActivities
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Choose True to run Advance Hunting queries through your Microsoft Defender
    For Endpoint instance. Note - it may take some time.
  key: AdvancedHunting
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: "Defines how to handle similar incidents. \nPossible values: \"Link\",
    \"Close\", \"Link and Close\".\nNote: Closing incidents requires defining the
    \"CloseSimilar\" input as well. \n Also, incidents found by similar indicators
    or fields will be closed if their similarity score is above the CloseSimilar value."
  key: DeduphandleSimilar
  playbookInputQuery: null
  required: false
  value:
    simple: Link and Close
- description: |-
    Defines the threshold of similarity to close a similar incident. All similar incidents with similarity above this value will be closed.
    For example, if CloseSimilar is set to .8 and an incident has a similarity score of .9, the incident will be closed.
    The value should be between 0 and 1 [0=low similarity , 1=identical].
  key: DedupCloseSimilar
  playbookInputQuery: null
  required: false
  value:
    simple: "0.9"
- description: Whether to use closure steps or close the incident automatically.
  key: EnableClosureSteps
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: If using Jira, specify the Jira Project Key (can be retrieved from
    the Jira console).
  key: TicketProjectName
  playbookInputQuery: null
  required: false
  value: {}
- description: Choose True to autorun collecting the investigation package from an
    endpoint.
  key: AutoCollectinvestigationPackege
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Option for input (can be comma-separated values):
    `Full Scan` - Fully scan the provided endpoints
    `Collect Investigation Package` - Collect investigation package from endpoints (only for supported devices)
    `Automated Investigation` - Run Automated Investigation on the provided endpoint
    If empty, the actions should be checked manually.
  key: ActionTask
  playbookInputQuery: null
  required: false
  value: {}
- description: Choose True to autorun a Full AV Scan on your endpoint.
  key: AutoAVScan
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Choose True to autorun automated investigation on your endpoint.
  key: AutoAutomatedInvestigation
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: The tag to assign for indicators to block.
  key: MaliciousTagName
  playbookInputQuery: null
  required: false
  value:
    simple: MaliciousTagName
- description: Whether automatic un-isolation is allowed.
  key: AutoUnisolation
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether an alert originated from a SIEM. If 'Yes', the incident enrichment
    flow does not run.
  key: DidAlertOriginateFromSIEM
  playbookInputQuery: null
  required: false
  value:
    simple: "No"
- description: A comma-separated list of incident text fields to take into account
    when computing similarity. For example command line or URL.
  key: DedupSimilarTextField
  playbookInputQuery: null
  required: false
  value:
    simple: agnetsid,users,agentsid,CMDline,Hostnames,filenames,filepaths
- description: Whether endpoint auto isolation is allowed.
  key: AutoIsolation
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Retain incidents with a similarity score greater than the MinimunIncidentSimilarity.
    Value should be between 0 to 1 [0=low similarity, 1=identical]
  key: DedupMinimunIncidentSimilarity
  playbookInputQuery: null
  required: false
  value:
    simple: "0.2"
- description: The maximum number of incidents to query and set to context data.
  key: DedupLimit
  playbookInputQuery: null
  required: false
  value:
    simple: "200"
name: Telia - MDE Malware - Investigation and Response
outputs: []
sourceplaybookid: MDE Malware - Investigation and Response
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "188"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cf8f012b-7aec-4080-8430-ab74df663cee
      iscommand: false
      name: ""
      version: -1
    taskid: cf8f012b-7aec-4080-8430-ab74df663cee
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": -140
        }
      }
  "11":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Malware Investigation Summary
      output:
        simple: ${InvestigationSummary}
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "184"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves information from previously-run reputation commands and
        aggregates their results
      id: d033f4b7-92de-4033-8591-773cf81cf443
      iscommand: false
      name: Parse Findings From Sandbox
      script: InvestigationSummaryParse
      type: regular
      version: -1
    taskid: d033f4b7-92de-4033-8591-773cf81cf443
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -230,
          "y": 2490
        }
      }
  "16":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.RetrieveFile
          operator: isEqualString
          right:
            value:
              simple: "true"
      - - left:
            iscontext: true
            value:
              complex:
                accessor: filePath
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: MicrosoftATP.Alert.Evidence.sha256
                    operator: in
                    right:
                      iscontext: true
                      value:
                        simple: NonFoundHashes
                root: MicrosoftATP.Alert.Evidence
          operator: isNotEmpty
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: Status
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Endpoint.ID
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: incident.deviceid
                root: Endpoint
          operator: isEqualString
          right:
            value:
              simple: Online
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "145"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is file retrieval allowed?
      id: dfb03bf4-c0e8-40d0-89c4-c6f16f89560b
      iscommand: false
      name: Is file retrieval allowed?
      type: condition
      version: -1
    taskid: dfb03bf4-c0e8-40d0-89c4-c6f16f89560b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -750,
          "y": 1625
        }
      }
  "18":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: NonFoundHashes
                transformers:
                - operator: uniq
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "70"
      "yes":
      - "71"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Are there hashes with no results?
      id: ebe16bfd-0b5f-4c3b-8196-3dc952910305
      iscommand: false
      name: Are there hashes with no results?
      type: condition
      version: -1
    taskid: ebe16bfd-0b5f-4c3b-8196-3dc952910305
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -500,
          "y": 1300
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "150"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7053df89-58d7-4eb1-86f2-a6ef2b97e7f7
      iscommand: false
      name: Sandbox
      type: title
      version: -1
    taskid: 7053df89-58d7-4eb1-86f2-a6ef2b97e7f7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -500,
          "y": 1030
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3bb7d577-5c9c-48b3-825a-61078d1a0da5
      iscommand: false
      name: Sandbox done
      type: title
      version: -1
    taskid: 3bb7d577-5c9c-48b3-825a-61078d1a0da5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -230,
          "y": 2885
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "180"
      - "185"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0e287aad-53c8-43c2-8318-c04d51aaae24
      iscommand: false
      name: Done Investigation
      type: title
      version: -1
    taskid: 0e287aad-53c8-43c2-8318-c04d51aaae24
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3030
        }
      }
  "44":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Alert Determination
        options: []
        optionsarg:
        - simple: Uknown
        - simple: TruePositive
        - simple: FalsePositive
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Define the closure reason
        options: []
        optionsarg:
        - simple: Other
        - simple: UnwantedSoftware
        - simple: SecurityTesting
        - simple: SecurityPersonnel
        - simple: Malware
        - simple: Apt
        - simple: NotAvailable
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Please add comment
        options: []
        optionsarg: []
        placeholder: XSOAR related incident ${incident.id}
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      sender: ""
      title: Determine if the alert was False/True Positive
      totalanswers: 0
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Please Classify this MDE Incident ${incident.id}
      cc: null
      format: ""
      methods: []
      replyOptions:
      - False Positive
      - True Positive
      subject:
        simple: 'New Microsoft Defender For Endpoint '
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      '#none#':
      - "182"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Confirm if true or false positive
      id: 59b54ac1-18a7-46d4-8976-bf440f814d20
      iscommand: false
      name: Confirm if true or false positive
      type: collection
      version: -1
    taskid: 59b54ac1-18a7-46d4-8976-bf440f814d20
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -170,
          "y": 3470
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "67"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5ca07cc8-ff32-4f00-83e5-563b853a491e
      iscommand: false
      name: Deduplication
      type: title
      version: -1
    taskid: 5ca07cc8-ff32-4f00-83e5-563b853a491e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 215
        }
      }
  "67":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.EnableDeduplication
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "68"
      "yes":
      - "176"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Use deduplication?
      id: 5ce41b55-6d14-4412-89e1-1f48113059d9
      iscommand: false
      name: Use deduplication?
      type: condition
      version: -1
    taskid: 5ce41b55-6d14-4412-89e1-1f48113059d9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 360
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 11f5fe6f-8e40-487b-8e3b-ea035e08ee70
      iscommand: false
      name: Done Deduplication
      type: title
      version: -1
    taskid: 11f5fe6f-8e40-487b-8e3b-ea035e08ee70
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 700
        }
      }
  "70":
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4ad81e63-bcc7-41d4-89ba-38557056ede6
      iscommand: false
      name: Known File
      type: title
      version: -1
    taskid: 4ad81e63-bcc7-41d4-89ba-38557056ede6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -230,
          "y": 1480
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8c7674da-a940-4575-89fb-474794aaae75
      iscommand: false
      name: Unknown File
      type: title
      version: -1
    taskid: 8c7674da-a940-4575-89fb-474794aaae75
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -750,
          "y": 1480
        }
      }
  "90":
    continueonerrortype: ""
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "167"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2dc1a8e3-cbae-4520-8a63-c0cdef73339a
      iscommand: false
      name: Proceeding with investigation
      type: title
      version: -1
    taskid: 2dc1a8e3-cbae-4520-8a63-c0cdef73339a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 860
        }
      }
  "145":
    continueonerrortype: ""
    id: "145"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      format:
        simple: '{1}\{2}'
      list1:
        complex:
          accessor: filePath
          filters:
          - - left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.sha256
              operator: in
              right:
                iscontext: true
                value:
                  simple: NonFoundHashes
          root: MicrosoftATP.Alert.Evidence
          transformers:
          - operator: StringToArray
      list2:
        complex:
          accessor: fileName
          filters:
          - - left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.sha256
              operator: in
              right:
                iscontext: true
                value:
                  simple: NonFoundHashes
          root: MicrosoftATP.Alert.Evidence
          transformers:
          - operator: StringToArray
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Joins values by index from two lists according to a given format.
      id: a469f046-846c-4adf-8703-dda79ef16461
      iscommand: false
      name: Join File Paths and File Names
      script: ZipStrings
      type: regular
      version: -1
    taskid: a469f046-846c-4adf-8703-dda79ef16461
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -750,
          "y": 1815
        }
      }
  "148":
    continueonerrortype: ""
    id: "148"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "155"
    note: false
    quietmode: 0
    scriptarguments:
      paths:
        complex:
          root: zipped_list
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: incident.filenames
            operator: append
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This playbook uses the Live Response feature to retrieve a file
        from an endpoint./nNote that the endpoint id will be set from the incident
        field "Device ID".
      id: f3c2882f-75e2-4207-8238-4ab613e51d99
      iscommand: false
      name: MDE - Retrieve File
      playbookId: MDE - Retrieve File
      type: playbook
      version: -1
    taskid: f3c2882f-75e2-4207-8238-4ab613e51d99
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -750,
          "y": 1980
        }
      }
  "149":
    continueonerrortype: ""
    id: "149"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      File:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.SHA256
              operator: inList
              right:
                iscontext: true
                value:
                  simple: NonFoundHashes
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          - - left:
                iscontext: true
                value:
                  simple: File.Size
              operator: greaterThan
              right:
                value:
                  simple: "0"
          root: File
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: 'This playbook uploads, detonates, and analyzes files for supported
        sandboxes. Currently supported sandboxes are Falcon X and Wildfire. '
      id: 3059c2e2-ec5f-41cf-8107-a852ee917c44
      iscommand: false
      name: Detonate and Analyze File - Generic
      playbookId: Detonate and Analyze File - Generic
      type: playbook
      version: -1
    taskid: 3059c2e2-ec5f-41cf-8107-a852ee917c44
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -750,
          "y": 2320
        }
      }
  "150":
    continueonerrortype: ""
    id: "150"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      FileSha256:
        complex:
          accessor: SHA256
          root: File
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: ab801b10-1771-4a7a-80f7-8a91b0496774
      iscommand: false
      name: Search For Hash In Sandbox - Generic
      playbookId: Search For Hash In Sandbox - Generic
      type: playbook
      version: -1
    taskid: ab801b10-1771-4a7a-80f7-8a91b0496774
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -500,
          "y": 1150
        }
      }
  "155":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.DetonateFile
          operator: isEqualString
          right:
            value:
              simple: "true"
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: File.SHA256
                    operator: in
                    right:
                      iscontext: true
                      value:
                        simple: NonFoundHashes
                root: File
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "155"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "149"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is Detonate Allowed?
      id: 7c738328-ec64-4295-8502-ae4e41265b66
      iscommand: false
      name: Is Detonate Allowed?
      type: condition
      version: -1
    taskid: 7c738328-ec64-4295-8502-ae4e41265b66
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -750,
          "y": 2140
        }
      }
  "158":
    continueonerrortype: ""
    id: "158"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ec24b0ae-8273-4c19-86cc-5e3f78713618
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: ec24b0ae-8273-4c19-86cc-5e3f78713618
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 4010
        }
      }
  "167":
    continueonerrortype: ""
    id: "167"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "171"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6faa4f08-b790-46fa-858d-7abd1330633d
      iscommand: false
      name: Command Line Analysis
      type: title
      version: -1
    taskid: 6faa4f08-b790-46fa-858d-7abd1330633d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1030
        }
      }
  "168":
    continueonerrortype: ""
    id: "168"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "169"
    note: false
    quietmode: 0
    scriptarguments:
      Commandline:
        complex:
          accessor: cmdline
          root: incident
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook takes the command line from the alert and performs
        the following actions:\n - Checks for a base64 string and decodes it if exists.\n
        - Extracts and enriches indicators from the command line\n - Checks specific
        arguments for malicious usage. \n\n At the end of the playbook, it sets a
        possible verdict for the command line, based on the finding:\n 1. Indicators
        found in the command line\n 2. Found AMSI techniques\n 3. Found suspicious
        parameters\n 4. Usage of malicious tools\n 5. Indication of network activity"
      id: e83ef8c9-d5e1-4ba4-8731-5f35d494dc77
      iscommand: false
      name: Command-Line Analysis
      playbookId: Command-Line Analysis
      type: playbook
      version: -1
    taskid: e83ef8c9-d5e1-4ba4-8731-5f35d494dc77
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 210,
          "y": 1360
        }
      }
  "169":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: CommandlineVerdict
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "169"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "170"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Found any suspicious components?
      id: c7448f9c-202d-4a8a-8f60-ecb98c923dfc
      iscommand: false
      name: Found any suspicious components?
      type: condition
      version: -1
    taskid: c7448f9c-202d-4a8a-8f60-ecb98c923dfc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 210,
          "y": 1545
        }
      }
  "170":
    continueonerrortype: ""
    id: "170"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "179"
    note: false
    quietmode: 0
    scriptarguments:
      appendTags:
        simple: "true"
      tags:
        complex:
          root: CommandlineVerdict
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Set Tag `Suspicious Command-line`
      id: 824384b4-5d22-47f9-8c52-b90ceb2d2323
      iscommand: true
      name: Set Tag `Suspicious Command-line`
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 824384b4-5d22-47f9-8c52-b90ceb2d2323
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -10,
          "y": 1720
        }
      }
  "171":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: incident.cmdline
                    operator: notInList
                    right:
                      iscontext: true
                      value:
                        simple: incident.processnames
                root: incident.cmdline
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "171"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "168"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a CMD line parameter?
      id: 9258ce66-9c56-47fd-8bf1-c6db913cccc6
      iscommand: false
      name: Is there a CMD line parameter?
      type: condition
      version: -1
    taskid: 9258ce66-9c56-47fd-8bf1-c6db913cccc6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1160
        }
      }
  "174":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.EnableClosureSteps
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "174"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "158"
      "yes":
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Proceed To Closure Steps?
      id: 22e2f95d-90fa-40f6-85ac-4451d07f7ccc
      iscommand: false
      name: Proceed To Closure Steps?
      type: condition
      version: -1
    taskid: 22e2f95d-90fa-40f6-85ac-4451d07f7ccc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3290
        }
      }
  "176":
    continueonerrortype: ""
    id: "176"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "68"
    note: false
    quietmode: 0
    scriptarguments:
      CloseSimilar:
        simple: ${inputs.DedupCloseSimilar}
      closeReason:
        simple: Closed by Dedup Playbook within inc ${incident.id}
      fromDate:
        simple: 1 months ago
      handleSimilar:
        simple: ${inputs.DeduphandleSimilar}
      limit:
        simple: ${inputs.DedupLimit}
      method:
        simple: Fields and Indicators
      minimunIncidentSimilarity:
        simple: ${inputs.DedupMinimunIncidentSimilarity}
      query:
        simple: -status:closed -category:job
      showIncidentSimilarityForAllFields:
        simple: "True"
      similarTextField:
        simple: ${inputs.DedupSimilarTextField}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook identifies duplicate incidents using the Cortex
        XSOAR machine learning method (script).\nIn this playbook, you can choose
        fields and/or indicators to be compared against other incidents in the Cortex
        XSOAR database. \n\nNote: To identify similar incidents you must must properly
        define the playbook inputs. "
      id: bb127fa0-bc5d-4130-8d93-4886847cd6fc
      iscommand: false
      name: Dedup - Generic v4
      playbookId: Dedup - Generic v4
      type: playbook
      version: -1
    taskid: bb127fa0-bc5d-4130-8d93-4886847cd6fc
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 700,
          "y": 530
        }
      }
  "179":
    continueonerrortype: ""
    id: "179"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 571cb1c2-25b4-4af3-8b75-333131cfb845
      iscommand: false
      name: 'Done Command Line Analysis '
      type: title
      version: -1
    taskid: 571cb1c2-25b4-4af3-8b75-333131cfb845
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -10,
          "y": 2790
        }
      }
  "180":
    continueonerrortype: ""
    id: "180"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "174"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3004da0e-b091-4417-852e-4192c40efc00
      iscommand: false
      name: Proceed to closure steps
      type: title
      version: -1
    taskid: 3004da0e-b091-4417-852e-4192c40efc00
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3160
        }
      }
  "182":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: Determine if the alert was False/True Positive.Answers.0
          operator: containsString
          right:
            value:
              simple: "true"
      label: True Positive
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: Determine if the alert was False/True Positive.Answers.0
          operator: containsString
          right:
            value:
              simple: "false"
      label: False Positive
    continueonerrortype: ""
    id: "182"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "183"
      False Positive:
      - "187"
      True Positive:
      - "186"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: False/True/Manual
      id: 91327617-b98d-498c-883c-1866d8815140
      iscommand: false
      name: False/True/Manual
      type: condition
      version: -1
    taskid: 91327617-b98d-498c-883c-1866d8815140
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -170,
          "y": 3640
        }
      }
  "183":
    continueonerrortype: ""
    id: "183"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "158"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Resolve this incident manually. '
      id: 68dc3897-9362-4af2-8eef-12f585a2fbea
      iscommand: false
      name: Manual Action Required - Resolve Incident
      type: regular
      version: -1
    taskid: 68dc3897-9362-4af2-8eef-12f585a2fbea
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -170,
          "y": 3840
        }
      }
  "184":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Malware Detailed Investigation Summary
      output:
        simple: ${InvestigationDetailedSummary}
    id: "184"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Parses attacks from context, and shows them according to the MITRE
        technique they use.
      id: 264d3453-76f8-4cb1-888b-f3d67769ce1b
      iscommand: false
      name: Parse results for detailed summary
      script: InvestigationDetailedSummaryParse
      type: regular
      version: -1
    taskid: 264d3453-76f8-4cb1-888b-f3d67769ce1b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -230,
          "y": 2650
        }
      }
  "185":
    continueonerrortype: ""
    id: "185"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      builtincondition:
      - - left:
            iscontext: true
            value:
              simple: incident.status
          operator: isEqualString
          right:
            value:
              simple: Closed
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 600
    note: false
    quietmode: 0
    scriptarguments:
      AlertID:
        simple: ${incident.externalsystemid}
      DidAlertOriginateFromSIEM:
        simple: ${inputs.DidAlertOriginateFromSIEM}
      Loop:
        simple: "True"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
        This playbook enriches Microsoft Defender For Endpoint alerts. The enrichment is done on the involved endpoint and Mitre technique ID information, and it sets the 'Malware-Investigation and Response' layout.
      id: 3363f5fd-c02b-47f0-8767-925397c53b00
      iscommand: false
      name: Telia - MDE Malware - Incident Enrichment
      playbookId: dd15370a-a875-430e-8772-9d55cb8bf2ca
      type: playbook
      version: -1
    taskid: 3363f5fd-c02b-47f0-8767-925397c53b00
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 880,
          "y": 3220
        }
      }
  "186":
    continueonerrortype: ""
    id: "186"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "158"
    note: false
    quietmode: 0
    scriptarguments:
      AutoIsolation:
        simple: ${inputs.AutoIsolation}
      BlockTag:
        simple: ${inputs.MaliciousTagName}
      Classification:
        simple: ${Determine if the alert was False/True Positive.Answers.0}
      CloseDuplicate:
        simple: ${inputs.DeduphandleSimilar}
      Comment:
        simple: ${Determine if the alert was False/True Positive.Answers.2}
      DupAlertIDsToBeClosed:
        complex:
          accessor: id
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotFindSimilarIncidents.similarIncident.similarity incident
              operator: greaterThanOrEqual
              right:
                iscontext: true
                value:
                  simple: inputs.DedupCloseSimilar
          root: DBotFindSimilarIncidents.similarIncident
      FileSha1:
        simple: ${incident.filesha1}
      FileSha256:
        simple: ${incident.filesha256}
      HostID:
        simple: ${incident.deviceid}
      Reason:
        simple: ${Determine if the alert was False/True Positive.Answers.1}
      TicketDescription:
        simple: ${Determine if the alert was False/True Positive.Answers.2} + Incident
          classification:${Determine if the alert was False/True Positive.Answers.0}
      TicketProjectName:
        simple: ${inputs.TicketProjectName}
      TicketingSystemToUse:
        simple: ${inputs.TicketingSystemToUse}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
        This Playbook handles closing a true positive incident for Microsoft Defender for Endpoint.
      id: 3bc51542-2556-4149-8cb8-8c84b8a320a6
      iscommand: false
      name: Telia - MDE - True Positive Incident Handling
      playbookId: afb88433-a1bd-4e77-8571-95e118a0b93b
      type: playbook
      version: -1
    taskid: 3bc51542-2556-4149-8cb8-8c84b8a320a6
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -600,
          "y": 3840
        }
      }
  "187":
    continueonerrortype: ""
    id: "187"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "158"
    note: false
    quietmode: 0
    scriptarguments:
      AllowTag:
        simple: ${inputs.BenignTagName}
      AutoUnisolation:
        simple: ${inputs.AutoUnisolation}
      Classification:
        simple: ${Determine if the alert was False/True Positive.Answers.0}
      CloseDuplicate:
        simple: ${inputs.DeduphandleSimilar}
      Comment:
        simple: ${Determine if the alert was False/True Positive.Answers.2}
      DupAlertIDsToBeClosed:
        complex:
          accessor: id
          filters:
          - - left:
                iscontext: true
                value:
                  simple: 'DBotFindSimilarIncidents.similarIncident.similarity incident '
              operator: greaterThanOrEqual
              right:
                iscontext: true
                value:
                  simple: inputs.DedupCloseSimilar
          root: DBotFindSimilarIncidents.similarIncident
      FileSha256:
        simple: ${incident.filesha256}
      HostID:
        simple: ${incident.deviceid}
      Reason:
        simple: ${Determine if the alert was False/True Positive.Answers.1}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
        This playbook handles closing false positive incidents for Microsoft Defender for Endpoint.
      id: 86207341-723b-427b-85dc-41f1090a28e1
      iscommand: false
      name: Telia - MDE - False Positive Incident Handling
      playbookId: 6a36e440-5022-4e23-88e8-b5e9d6577a08
      type: playbook
      version: -1
    taskid: 86207341-723b-427b-85dc-41f1090a28e1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 240,
          "y": 3850
        }
      }
  "188":
    continueonerrortype: ""
    id: "188"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 60
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    scriptarguments:
      AlertID:
        simple: ${incident.externalsystemid}
      DidAlertOriginateFromSIEM:
        simple: ${inputs.DidAlertOriginateFromSIEM}
      Loop:
        simple: "True"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
        This playbook enriches Microsoft Defender For Endpoint alerts. The enrichment is done on the involved endpoint and Mitre technique ID information, and it sets the 'Malware-Investigation and Response' layout.
      id: 95c70fe4-7c89-4467-8932-1321483a8c7f
      iscommand: false
      name: Telia - MDE Malware - Incident Enrichment
      playbookId: dd15370a-a875-430e-8772-9d55cb8bf2ca
      type: playbook
      version: -1
    taskid: 95c70fe4-7c89-4467-8932-1321483a8c7f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 450,
          "y": 10
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "169_43_#default#": 0.15,
      "171_43_#default#": 0.12,
      "174_158_#default#": 0.25
    },
    "paper": {
      "dimensions": {
        "height": 4215,
        "width": 2010,
        "x": -750,
        "y": -140
      }
    }
  }
