playbook-Recorded_Future_File_Intelligence.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 1.7.2
    packID: RecordedFuture
    packName: Recorded Future Intelligence
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: File enrichment using Recorded Future intelligence
id: Recorded Future File Intelligence
inputs:
- description: File MD5 hash to enrich.
  key: MD5
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: MD5
      root: File
- description: File SHA-256 hash to enrich.
  key: SHA256
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: SHA256
      root: File
- description: File SHA-1 hash to enrich.
  key: SHA1
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: SHA1
      root: File
name: Recorded Future File Intelligence
outputs:
- contextPath: DBotScore.Indicator
  description: The indicator that was tested
  type: string
- contextPath: DBotScore.Type
  description: Indicator type
  type: string
- contextPath: DBotScore.Vendor
  description: Vendor used to calculate the score
  type: string
- contextPath: DBotScore.Score
  description: The actual score
  type: number
- contextPath: File.SHA256
  description: File SHA-256
  type: string
- contextPath: File.SHA512
  description: File SHA-512
  type: string
- contextPath: File.SHA1
  description: File SHA-1
  type: string
- contextPath: File.MD5
  description: File MD5
  type: string
- contextPath: File.CRC32
  description: File CRC32
  type: string
- contextPath: File.CTPH
  description: File CTPH
  type: string
- contextPath: RecordedFuture.File.criticality
  description: Risk Criticality
  type: number
- contextPath: RecordedFuture.File.criticalityLabel
  description: Risk Criticality Label
  type: string
- contextPath: RecordedFuture.File.riskString
  description: Risk String
  type: string
- contextPath: RecordedFuture.File.riskSummary
  description: Risk Summary
  type: string
- contextPath: RecordedFuture.File.rules
  description: Risk Rules
  type: string
- contextPath: RecordedFuture.File.score
  description: Risk Score
  type: number
- contextPath: RecordedFuture.File.firstSeen
  description: Evidence First Seen
  type: date
- contextPath: RecordedFuture.File.lastSeen
  description: Evidence Last Seen
  type: date
- contextPath: RecordedFuture.File.intelCard
  description: Recorded Future Intelligence Card URL
  type: string
- contextPath: RecordedFuture.File.hashAlgorithm
  description: Hash Algorithm
  type: string
- contextPath: RecordedFuture.File.type
  description: Entity Type
  type: string
- contextPath: RecordedFuture.File.name
  description: Entity
  type: string
- contextPath: RecordedFuture.File.id
  description: Recorded Future Entity ID
  type: string
- contextPath: RecordedFuture.File.metrics.type
  description: Recorded Future Metrics Type
  type: string
- contextPath: RecordedFuture.File.metrics.value
  description: Recorded Future Metrics Value
  type: number
- contextPath: RecordedFuture.File.threatLists.description
  description: Recorded Future Threat List Description
  type: string
- contextPath: RecordedFuture.File.threatLists.id
  description: Recorded Future Threat List ID
  type: string
- contextPath: RecordedFuture.File.threatLists.name
  description: Recorded Future Threat List Name
  type: string
- contextPath: RecordedFuture.File.threatLists.type
  description: Recorded Future Threat List Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedAttacker.count
  description: Recorded Future Related Attacker Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedAttacker.id
  description: Recorded Future Related Attacker ID
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedAttacker.name
  description: Recorded Future Related Attacker Name
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedAttacker.type
  description: Recorded Future Related Attacker Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedTarget.count
  description: Recorded Future Related Target Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedTarget.id
  description: Recorded Future Related Target ID
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedTarget.name
  description: Recorded Future Related Target Name
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedTarget.type
  description: Recorded Future Related Target Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedThreatActor.count
  description: Recorded Future Related Threat Actor Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedThreatActor.id
  description: Recorded Future Related Threat Actor ID
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedThreatActor.name
  description: Recorded Future Related Threat Actor Name
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedThreatActor.type
  description: Recorded Future Related Threat Actor Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedMalware.count
  description: Recorded Future Related Malware Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedMalware.id
  description: Recorded Future Related Malware ID
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedMalware.name
  description: Recorded Future Related Malware Name
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedMalware.type
  description: Recorded Future Related Malware Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedCyberVulnerability.count
  description: Recorded Future Related Vulnerability Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedCyberVulnerability.id
  description: Recorded Future Related Vulnerability ID
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedCyberVulnerability.name
  description: Recorded Future Related Vulnerability Name
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedCyberVulnerability.type
  description: Recorded Future Related Vulnerability Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedIpAddress.count
  description: Recorded Future Related IP Address Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedIpAddress.id
  description: Recorded Future Related IP Address ID
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedIpAddress.name
  description: Recorded Future Related IP Address Name
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedIpAddress.type
  description: Recorded Future Related IP Address Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedInternetDomainName.count
  description: Recorded Future Related Domain Name Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedInternetDomainName.id
  description: Recorded Future Related Domain Name ID
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedInternetDomainName.name
  description: Recorded Future Related Domain Name Name
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedInternetDomainName.type
  description: Recorded Future Related Domain Name Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedProduct.count
  description: Recorded Future Related Product Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedProduct.id
  description: Recorded Future Related Product ID
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedProduct.name
  description: Recorded Future Related Product Name
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedProduct.type
  description: Recorded Future Related Product Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedCountries.count
  description: Recorded Future Related Countries Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedCountries.id
  description: Recorded Future Related Countries IDs
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedCountries.name
  description: Recorded Future Related Countries Names
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedCountries.type
  description: Recorded Future Related Countries Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedHash.count
  description: Recorded Future Related Hash Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedHash.id
  description: Recorded Future Related Hash ID
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedHash.name
  description: Recorded Future Related Hash Name
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedHash.type
  description: Recorded Future Related Hash Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedTechnology.count
  description: Recorded Future Related Technology Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedTechnology.id
  description: Recorded Future Related Technology ID
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedTechnology.name
  description: Recorded Future Related Technology Name
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedTechnology.type
  description: Recorded Future Related Technology Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedEmailAddress.count
  description: Recorded Future Related Email Address Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedEmailAddress.id
  description: Recorded Future Related Email Address ID
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedEmailAddress.name
  description: Recorded Future Related Email Address Name
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedEmailAddress.type
  description: Recorded Future Related Email Address Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedAttackVector.count
  description: Recorded Future Related Attack Vector Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedAttackVector.id
  description: Recorded Future Related Attack Vector ID
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedAttackVector.name
  description: Recorded Future Related Attack Vector Name
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedAttackVector.type
  description: Recorded Future Related Attack Vector Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedMalwareCategory.count
  description: Recorded Future Related Malware Category Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedMalwareCategory.id
  description: Recorded Future Related Malware Category ID
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedMalwareCategory.name
  description: Recorded Future Related Malware Category Name
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedMalwareCategory.type
  description: Recorded Future Related Malware Category Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedOperations.count
  description: Recorded Future Related Operations Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedOperations.id
  description: Recorded Future Related Operations ID
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedOperations.name
  description: Recorded Future Related Operations Name
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedOperations.type
  description: Recorded Future Related Operations Type
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedCompany.count
  description: Recorded Future Related Company Count
  type: number
- contextPath: RecordedFuture.File.relatedEntities.RelatedCompany.id
  description: Recorded Future Related Company ID
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedCompany.name
  description: Recorded Future Related Company Name
  type: string
- contextPath: RecordedFuture.File.relatedEntities.RelatedCompany.type
  description: Recorded Future Related Company Type
  type: string
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 588280ab-3d96-4e42-894a-5ce668f93975
      iscommand: false
      name: ""
      version: -1
    taskid: 588280ab-3d96-4e42-894a-5ce668f93975
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 500,
          "y": -120
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
      - "15"
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0785a415-4790-411f-81cb-50c1af4d824a
      iscommand: false
      name: Enrich Using Recorded Future API
      type: title
      version: -1
    taskid: 0785a415-4790-411f-81cb-50c1af4d824a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 500,
          "y": 195
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      entity:
        simple: ${inputs.MD5}
      entity_type:
        simple: file
      fetch_related_entities:
        simple: "yes"
      fetch_riskyCIDRips:
        simple: "no"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Recorded Future v2
      description: Get threat intelligence for an IP, domain, CVE, URL or file.
      id: 46717e9e-cbd6-4608-89f1-f9063ba12d18
      iscommand: true
      name: Get MD5 reputation
      script: Recorded Future v2|||recordedfuture-intelligence
      type: regular
      version: -1
    taskid: 46717e9e-cbd6-4608-89f1-f9063ba12d18
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 655
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1f693d22-0d30-4759-8569-b52781f139d2
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 1f693d22-0d30-4759-8569-b52781f139d2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1620,
          "y": 1060
        }
      }
  "14":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.MD5
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${File.MD5}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there is an MD5 hash in context.
      id: 1dce6482-686c-46ab-8d86-b3ca0591f4b5
      iscommand: false
      name: Is there an MD5 hash?
      type: condition
      version: -1
    taskid: 1dce6482-686c-46ab-8d86-b3ca0591f4b5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 340
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.SHA256
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${File.SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there is a SHA-256 hash in context.
      id: 52e94cf9-0a92-473c-8eca-2435eeee8433
      iscommand: false
      name: Is there a SHA-256 hash?
      type: condition
      version: -1
    taskid: 52e94cf9-0a92-473c-8eca-2435eeee8433
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 500,
          "y": 340
        }
      }
  "16":
    continueonerror: true
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      entity:
        simple: ${inputs.SHA256}
      entity_type:
        simple: file
      fetch_related_entities:
        simple: "yes"
      fetch_riskyCIDRips:
        simple: "no"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Recorded Future v2
      description: Get threat intelligence for an IP, domain, CVE, URL or file.
      id: b962d2d8-b0bb-4f67-808e-22b37331dd63
      iscommand: true
      name: Get SHA-256 reputation
      script: Recorded Future v2|||recordedfuture-intelligence
      type: regular
      version: -1
    taskid: b962d2d8-b0bb-4f67-808e-22b37331dd63
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 500,
          "y": 665
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.SHA1
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${File.SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there is a SHA-1 hash in context.
      id: 8aeac1b0-572f-49f2-831a-668e505524d8
      iscommand: false
      name: Is there a SHA-1 hash?
      type: condition
      version: -1
    taskid: 8aeac1b0-572f-49f2-831a-668e505524d8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 950,
          "y": 340
        }
      }
  "18":
    continueonerror: true
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      entity:
        simple: ${inputs.SHA1}
      entity_type:
        simple: file
      fetch_related_entities:
        simple: "yes"
      fetch_riskyCIDRips:
        simple: "no"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Recorded Future v2
      description: Get threat intelligence for an IP, domain, CVE, URL or file.
      id: 24a11895-e064-426b-8d92-844ea6142077
      iscommand: true
      name: Get SHA-1 reputation
      script: Recorded Future v2|||recordedfuture-intelligence
      type: regular
      version: -1
    taskid: 24a11895-e064-426b-8d92-844ea6142077
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 962.5,
          "y": 665
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: containsString
                    right:
                      value:
                        simple: Recorded Future v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value is true. Will return 'no' otherwise
      id: e5527ed7-a775-4874-805f-9ac4403fda47
      iscommand: false
      name: Is Recorded Future API enabled?
      type: condition
      version: -1
    taskid: e5527ed7-a775-4874-805f-9ac4403fda47
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 500,
          "y": 10
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      recordedfutureriskrules:
        simple: ${RecordedFuture.File.concatRules}
      value:
        simple: ${RecordedFuture.File.name}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Change the properties of an indicator
      id: a8b74507-3494-49e8-8154-23d55650d716
      iscommand: true
      name: setIndicator
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: a8b74507-3494-49e8-8154-23d55650d716
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 500,
          "y": 930
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "14_7_#default#": 0.52,
      "15_7_#default#": 0.61
    },
    "paper": {
      "dimensions": {
        "height": 1245,
        "width": 1950,
        "x": 50,
        "y": -120
      }
    }
  }
